.conatainer_buttons {
    display: flex;
    justify-content: center;
    gap: 1.8rem;
    margin-top: 6.938rem;
}


.button_beneficio, .button_editar, .button_feedbacks, .button_pontuação{
    width: 17.5rem;
    height: 5rem;
    border: solid 2px #0D6511;
    border-radius: 8px;
    background-color: #fff;
    
    color: #000;
    font-weight: 500;
    justify-content: center;
}

.button_beneficio::before {
    content: url(./box.png);
    display: block;
}

.button_editar::before {
    content: url(./three-people.png);
    display: block;
}

.button_feedbacks::before {
    content: url(./chat-box.png);
    display: block;
}

.button_pontuação::before {
    content: url(./trophy.png);
    display: block;
}